<div class="container-timer">
  <h1 id="headline">Akcja za</h1>
  <div id="countdown">
    <ul>
      <li><span id="days"></span>dni</li>
      <li><span id="hours"></span>godzin</li>
      <li><span id="minutes"></span>minut</li>
      <li><span id="seconds"></span>sekund</li>
    </ul>
  </div>
  <div id="content" class="emoji">
    <span>Napad rozpoczęty</span>
  </div>
</div>

<div class="container-timer">
    <h1 class="text">Lokacja</h1>
    <h1>lacon <br>kazimierza wielka</h1>
    <br>
    <h1 class="text">start</h1>
    <h1>4 czerwiec 18:00</h1>
    <br>
    <h1 class="text">Koniec</h1>
    <h1>5 czerwiec 16:00</h1>
    <br>
    <h1 class="text">zameldunek w pokoju</h1>
    <h1>od 14:00 4 czerwiec</h1>
    <br>
    <h1 class="text">wymeldunek</h1>
    <h1>16:00 nastepnego dnia</h1>
    <br>
    <h1 class="text">motyw</h1>
    <h1>jak w tytule czyli:</h1>
    <h1>Mężczyźni - dres lub garnitur</h1>
    <h1>kobiety - sukienki</h1>
    <br>
    <h1>ja na taką robotę zakładam smoking...</h1>
    <br>
    <h1>Zapraszam.</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>